; Developer template: copy to network.cfg only for local service testing.
; Advanced LAN/IP remains available independently in the normal client.
[internet]
service_url="http://127.0.0.1:8787"
relay_host="127.0.0.1"
relay_port=8788
direct_attempt_seconds=2.0
relay_enabled=true
heartbeat_interval=2.0
connection_timeout=15.0
stun_urls=PackedStringArray()
